h1{
    margin: auto;
    text-align: center;
    width: 80%;
}

section > div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

section > div > h2{
    text-align: center;
    color: var(--secondary-san-juan-blue);
}

section > div > p{
    text-align: center;
    width: 90%;
}

@media screen and (min-width: 768px) {
    h1{
        width: 85%;
        font-size: var(--h2-size);
        line-height: var(--h2-line-height);
    }
    section{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    section > div{
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    section > div > h2{
        font-size: var(--h3-big-size);
        width: 50%;
    }

    section > div > p{
        text-align: left;
    }
}