
.firstSec{
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(0%, -25%);
    text-align: center;

}

.contenueSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin-top: 24px;
    color: var(--secondary-light-san-juan-blue);
    size: var(--p-size);
    font-family: var(--p-font-family);
    line-height: var(--p-line-heigh);
    font-weight: var(--hgroup-weight);
}

.LienContact{
    font-weight: var(--h3-small-weight);
    text-decoration: none;
    color: var(--secondary-light-san-juan-blue);
}

.sectionPartenaire{
    background-color: var(--secondary-mirage-blue);
    padding: 80px 48px 80px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPartnaire{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 39px;
}

@media screen and (min-width: 768px) {
    .sectionPartenaire{
        padding: 88px 116px;
    }
    .divPartnaire{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }
    .a-about{
        margin-left: 164px;
    }
    
}

@media screen and (min-width: 1024px) {
    .firstSec{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 15%;
    }
    p{
        text-align: start;
        margin-left: 50px;
    }
    .sectionPartenaire{
        flex-direction: row-reverse;
        gap: 150px;
    }
    .divPartnaire{
        margin-top: 30px;
    }
    .pPart{
        text-align: start;
    }
    .a-about{
        margin-left: 50px;
    }
}