:root{
    --button-border-radius: 99px;
    --button-weight: 700px;
    --button-line: 17,6px;    
    --button-padding: 16px 24px 14px 26px;

    --button-light-color: rgb(251, 252, 254);

    --button-primary-normal: rgb(186, 66, 112);

    --button-primary-hover: rgb(218, 109, 151);

    --button-primary-disabled: rgb(186, 66, 112);


    --button-secondary-light-border: 1px solid rgb(251, 252, 254);
    --button-secondary-light-normal: rgb(27, 38, 47);

    --button-secondary-light-hover: rgb(251, 252, 254);
    --button-secondary-light-hover-color: rgb(27, 38, 47);  

    --button-secondary-disabled-oppacity: 50%;


    --button-secondary-dark-normal: transparent;
    --button-secondary-dark-normal-color: rgb(27, 38, 47);  
    --button-secondary-dark-normal-border: 1px solid rgb(54, 83, 107);

    --button-secondary-dark-hover: rgb(54, 83, 107);
    --button-secondary-dark-hover-color: rgb(251, 252, 254);      
}

.primay-normal-state-light{
    background-color: var(--button-primary-normal);
    color: var(--button-light-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border-style: none;
    font-family: "Public Sans", sans-serif;
}

.primay-normal-state-light:hover{
    background-color: var(--button-primary-hover);
}

.a-about{
    text-decoration: none;
    color: var(--button-light-color);
    border: var(--button-secondary-light-border);
    border-radius: var(--button-border-radius);
    padding: 16px 32px;
    font-weight: 700;
    font-size: 15px;
    margin-left: 99px;
    font-family: "Public Sans", sans-serif;
}

article > section > a{
    text-decoration: none;
    color: var(--secondary-san-juan-blue);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border: 1px solid #36536B;
    margin-top: 10%;
}

.submitContact{
    text-decoration: none;
    padding: 16px 49px 14px 51px;
    background-color: transparent;
    color: #36536B;
    border-radius: 999999999999999px;
    border: 1px solid #36536B;
    margin-top: 10%;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    article > section > a:hover{
        background-color: #36536B;
        color: var(--button-light-color);
    }

}